
body {
    background-image: linear-gradient( 90deg, rgb(6, 158, 64), rgb(3, 94, 33) );
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

button {
    border: none;
}

.title {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    color: white;
}

.newgame {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);  
}

.drawcard {
    position: absolute;
    width: 80px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.text-box1 {
    position: absolute;
    height: 80px;
    width: 450px;
    background-color: rgb(165, 42, 42);
    transform: translate(-50%, -50%); 
    top: 50%;
    left: 25%;
    z-index: 0;
}

.text-box2 {
    position: absolute;
    height: 80px;
    width: 450px;
    background-color: brown;
    transform: translate(-50%, -50%); 
    top: 50%;
    left: 75%;
    z-index: 0;
}

.text1 {
    position: absolute;
    color: white;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 25%; 
    z-index: 1;
}
.text2 {
    position: absolute;
    color: white;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 75%; 
    z-index: 1;
}

.counter-container {
    position: relative;
    display: none;
    height: 10%;
    width: 45%;
    top: 30%;
    left: 27%;
    
}

.counter {
    position: relative;
    float: left;
    background-color: brown;
    top: 44%;
    bottom: 56%;
    left: 5.5%;
    height: 2rem;
    width: 8rem;
}

.counter-2 {
    left: 63.5%;
}

.cards-left-text {
    float: left;
    margin: .5rem 0 0 .8rem;
    color: white;
    
}

.cardamt {
    float: left;
    margin: .5rem 0 0 .8rem;
    color: white;
}



    

